.chat{
    background-color:  inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.input_chat{
    height: 30px;
    color: rgb(2, 47, 125);
    font-size: 15px;
    padding: 3px 4px 3px 6px;
    padding-left: 50px;
    margin:10px;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 30px;
}